<h1>Booking Confirmation</h1>
<p>Hello
  <%= @passenger.name %></p>
<p>This is a confirmation of your booking. Thanks for using our service.</p>
<p><%= link_to "View Booking Details", @booking %></p>
<p>Have a great day!</p>
